* {
  margin: 0;
  padding: 0;
}

.carrousel {
  border: black 1px solid;
  display: flex;
  flex-flow: nowrap;
  overflow-x: auto;
  width: 360px;
}

.content-recipe {
  border: black 1px solid;
  width: 180px;
}

.content-recipe img {
  width: 150px;
}

.content-recipe img:hover {
  width: 160px;
}
