.recipe-card {
  width: 180px;
  margin: 10px;
}

.recipe-card img {
  width: 100%;
}

/* .startbtn {
  bottom: 0;
  position: fixed;
} */

.ingred-checkded {
  text-decoration: line-through solid black;
}